@font-face {
    font-family: 'AgendaLight';
    src: url("../fonts/AgendaLight.ttf");
    /*src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgendaMedium';
    src: url("../fonts/AgendaMedium.ttf");
    /*src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: AgendaLight;
}

.boxes {
    margin-top: 10px;
}

.boxes h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.boxes label {
    /*font-size:16px;*/
    font-weight: 500;
    position: relative;
    top:4px;
}

.page-content .boxes label {
    font-size: 18px;
}

.page-content .boxes .slider-div {
    position: relative;
    top:14px;
}

.page-content .boxes .bootstrap-select .btn {
    font-weight: bold;
    color: #003946;
    padding-left: 11px;
    font-size: 18px;
}

.page-content .boxes .bootstrap-select ul.dropdown-menu span.text {
    font-weight: bold;
    color: #003946;
}

.icon-container {
    text-align: center;
}

.icon-container i {
    font-size: 52px;
    color:#f1f2ef;

}

.heading-bg{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #558810;
    
}

.heading-bg1{
    height: 100%;
    line-height: 52px;
    background-color: #6d9b2e;
    color:#f1f2ef;
}

.heading-bg1 h2{
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: inherit;
}

.spouse-tell-us .icon-container i,
.spouse-account-details .icon-container i,
.liability-details .icon-container i,
.existingCover-details .icon-container i,
.optimisationTTR-details .icon-container i,
.general-details .icon-container i,
.general-details-results .icon-container i {
    background-color: #f1f2ef;
}

.page-content .tell-us,
.page-content .account-details,
.page-content .assets-details,
.page-content .otherExpense-details,
.page-content .other-assets,
.page-content .assetAllocation-details {
    background-color: #f1f2ef;
}

.page-content .spouse-tell-us,
.page-content .spouse-account-details,
.page-content .liability-details,
.page-content .existingCover-details,
.page-content .optimisationTTR-details,
.general-details,
.general-details-results {
    background-color: #f3f5f4;
}


/*.general-details {
    background-color: #dbebc9;
}*/

.page-content .ttrForm .submit-button {
    width: initial;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    width: auto;
    text-transform: uppercase;
    font-size: 22px;
    color: #424242;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: AgendaMedium;
    background: #6d9b2e;
    background: -webkit-linear-gradient(0deg, #6d9b2e 0%, #8cc63e 100%);
    background: -webkit-linear-gradient(0deg, #6d9b2e 0%, #8cc63e 100%);
    background: linear-gradient(0deg, #6d9b2e 0%, #8cc63e 100%);
}

.result-details .chart-button {
    padding: 8px 10px;
    width: 100%;
    text-transform: uppercase;
    font-family: AgendaMedium;
    background: #003946!important;
    opacity: 1 !important;
    color: white;
}

.page-content .ttrForm .submit-button:hover {
    text-decoration: none;
    background: #6d9b2e;
    background: -webkit-linear-gradient(0deg, #8cc63e 0%, #6d9b2e 100%);
    background: -webkit-linear-gradient(0deg, #8cc63e 0%, #6d9b2e 100%);
    background: linear-gradient(0deg, #8cc63e 0%, #6d9b2e 100%);
}

.page-content .account-details input,
.page-content .assets-details input,
.page-content .otherExpense-details input,
.page-content .other-assets input,
.page-content .assetAllocation-details input,
.page-content .spouse-tell-us input,
.page-content .spouse-account-details input,
.page-content .liability-details input,
.page-content .existingCover-details input,
.page-content .optimisationTTR-details input {
    text-align: right;
    font-weight: bold;
    color: #003946;
    font-size: 18px;
    padding-right: 9px;
    width: 125px;
}

.result-content .display-table input {
    text-align: right;
    font-weight: bold;
    color: #003946;
    font-size: 18px;
    padding-right: 9px;
    width: 110px;
    border-radius: 0;
}

.page-content .tell-us input {
    text-align: right;
    font-weight: bold;
    color: #003946;
    font-size: 18px;
    padding-right: 11px;
}

.otherExpense-details .bootstrap-select {
    width: 130px !important;
}

.tell-us .bootstrap-select {
    width: 100% !important;
}

.boxes .white-border {
    margin: 5px 0px 15px;
    border-bottom: 1px solid white;
}

.page-content .tell-us h4,
.page-content .account-details h4,
.page-content .assets-details h4,
.page-content .otherExpense-details h4,
.page-content .other-assets h4,
.page-content .assetAllocation-details h4,
.page-content .spouse-tell-us h4,
.page-content .spouse-account-details h4,
.page-content .liability-details h4,
.page-content .existingCover-details h4,
.page-content .optimisationTTR-details h4 {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.ttrForm input.form-control,
.ttrForm .bootstrap-select .btn,
.ttrForm .input-group-addon {
    border-radius: 8px;
}

.ttrForm input.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.ttrForm .noUi-target {
    /*border-radius:0px;    */
}

.ttrForm .bootstrap-select .btn-default:hover,
.ttrForm .bootstrap-select .btn-default:focus {
    background-color: #fff;
    box-shadow: none;
}

.ttrForm .open>.dropdown-toggle.btn-default {
    background-color: #fff;
    box-shadow: none;
}

@media (max-width: 767px) {
    .icon-container {
        margin-bottom: 10px;
        text-align: left;
    }
    .icon-container p.details-xs {
        text-align: left;
        display: inline-block !important;
        font-size: 18px;
        position: relative;
        top: -8px;
        left: 5px;
    }
    .icon-container i {
        text-align: center;
        font-size: 34px;
        width: 55px;
        height: 55px;
        padding-top: 9px
    }
    .page-content .boxes label {
        font-size: 15px;
        font-weight: 200;
        line-height: 20px;
    }
    .result-content .value-container .title-div {
        padding-bottom: 15px;
    }
    .result-table {
        padding-left: 10px;
    }
    .small-buttons button {
        background: #a2dd3b !important;
        background: linear-gradient(0deg, #a2dd3b 0%, #a2dd3b 100%);
        color: #424242;
    }
    .small-buttons {
        padding-left: 60px;
    }
    #bar-chart-m[disabled],
    #area-chart-m[disabled] {
        background: #003946! important;
        opacity: 1 !important;
        color: white;
    }
    .result-content .value-container label {
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
    }
    .result-content .value-container .form-1>div>div>div {
        width: 50%;
    }
    .page-content .tell-us input,
    .page-content .account-details input,
    .page-content .assets-details input,
    .page-content .otherExpense-details input,
    .page-content .other-assets input,
    .page-content .assetAllocation-details input,
    .page-content .spouse-tell-us input,
    .page-content .spouse-account-details input,
    .page-content .liability-details input,
    .page-content .existingCover-details input,
    .page-content .optimisationTTR-details input {
        text-align: right;
        font-weight: bold;
        color: #003946;
        font-size: 16px;
        padding-right: 9px;
        width: 125px;
    }
    .banner-text {
        width: 100%;
    }
    .page-content .ttrForm .submit-button {
        font-size: 17px;
        width: auto;
        padding: 7px 7px;
    }
    .tell-us>div:nth-child(2)>h2,
    .tell-us>div:nth-child(1) p,
    .assets-details>div:nth-child(2)>h2,
    .assets-details>div:nth-child(1) p,
    .liability-details>div:nth-child(2)>h2,
    .liability-details>div:nth-child(1) p,
    .otherExpense-details>div:nth-child(2)>h2,
    .otherExpense-details>div:nth-child(1) p,
    .existingCover-details>div:nth-child(2)>h2,
    .existingCover-details>div:nth-child(1) p,
    .assumptions-details>div:nth-child(2)>h2,
    .assumptions-details>div:nth-child(1) p,
    .result-details>div>div:nth-child(1)>div:nth-child(2)>h2,
    .result-details>div>div:nth-child(1)>div:nth-child(1) p,
    .general-details-results>div:nth-child(2)>h2,
    .general-details-results>div:nth-child(1) p,
    .general-details>div:nth-child(2)>h2,
    .general-details>div:nth-child(1) p,
    .account-details>div:nth-child(2)>h2,
    .account-details>div:nth-child(1) p, 
    .other-assets>div:nth-child(2)>h2,
    .other-assets>div:nth-child(1) p, 
    .assetAllocation-details>div:nth-child(2)>h2,
    .assetAllocation-details>div:nth-child(1) p, 
    .spouse-tell-us>div:nth-child(2)>h2,
    .spouse-tell-us>div:nth-child(1) p, 
    .spouse-account-details>div:nth-child(2)>h2,
    .spouse-account-details>div:nth-child(1) p, 
    .optimisationTTR-details>div:nth-child(2)>h2,
    .optimisationTTR-details>div:nth-child(1) p {
        font-size: 15px;
    }
    .sub-para {
        font-size: 15px;
    }
    .title-bar {
        font-size: 26px;
    }
}

.account-details .noUi-horizontal .noUi-handle,
.assets-details .noUi-horizontal .noUi-handle,
.otherExpense-details .noUi-horizontal .noUi-handle,
.other-assets .noUi-horizontal .noUi-handle,
.otherExpense-details .noUi-horizontal .noUi-handle,
.assetAllocation-details .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    background-color: #6d9b2e;
    border: 3px solid #dbebc9;
    box-shadow: 0 0 0 1pt #6d9b2e;
}

.spouse-tell-us .noUi-horizontal .noUi-handle,
.spouse-account-details .noUi-horizontal .noUi-handle,
.existingCover-details .noUi-horizontal .noUi-handle,
.optimisationTTR-details .noUi-horizontal .noUi-handle,
.liability-details .noUi-horizontal .noUi-handle {
    

    width: 20px;
    height: 20px;
    background-color: #6d9b2e;
    border: 3px solid #f2f5f6;
    box-shadow: 0 0 0 1pt #6d9b2e;
}

div .colorChange .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    background-color: #6d9b2e;
    border: 3px solid #f2f5f6;
    box-shadow: 0 0 0 1pt #6d9b2e;
}

div .colorChange1 .noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    background-color: #6d9b2e;
    border: 3px solid #dbebc9;
    box-shadow: 0 0 0 1pt #6d9b2e;
}

div .colorChange .icon-container i {
    background-color: #61746b;
}

div .colorChange1 .icon-container i {
    background-color: #6d9b2e;
}

.noUi-handle {
    border-radius: 15px;
    border: 3px solid #3FB8AF;
}

.noUi-handle:before,
.noUi-handle:after {
    content: none;
}

.noUi-target.noUi-connect,
.noUi-background {
    box-shadow: none;
    background: #fff;
}

.uib-datepicker:focus,
.dropdown-menu:focus,
table.uib-daypicker:focus {
    outline: none;
}

ul.dropdown-menu {
    padding: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p.err-msg {
    background-color: #a4383d;
    font-size: 16px;
    padding: 5px 5px;
    margin: 0px;
    color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #fff !important;
}


/*.chart-buttons-row .chart-xs-btn{
    background-color: #e5ab00 !important;
}*/

.feedback {
    background-color: #003946;
    border: 2px solid #ffffff;
    display: block;
    position: fixed;
    top: 40%;
    padding: 2px 0px 2px 0px;
    font-size: 20px;
    color: white;
    z-index: 100;
    width: 150px;
    cursor: pointer;
    right: -110px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    transition: right 1.0s;
    -moz-transition: right 1.0s;
    -webkit-transition: right 1.0s;
    -o-transition: right 1.0s;
    background-image: -webkit-linear-gradient(top, #055F73, #003946);
    background-image: -moz-linear-gradient(top, #055F73, #003946);
    background-image: -ms-linear-gradient(top, #055F73, #003946);
    background-image: -o-linear-gradient(top, #055F73, #003946);
    background-image: linear-gradient(top, #055F73, #003946);
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.feedback:hover {
    right: -5px;
}

.fa-comments:before {
    margin-right: 10px;
    margin-left: 10px;
}

.modal-header {
    padding: 5px 8px !important;
    background-color: #003946;
    border: 1px solid white;
}

.modal-body {
    background-color: white;
}

.modal-header h4 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    color: white;
}

#myModal1 .modal-footer button,
#myModal2 .modal-footer button,
#myModal3 .modal-footer button {
    font-weight: bold;
    font-size: 15px;
    height: 35px;
    margin-top: 6px;
    padding: 0 15px;
    background-color: #003946;
    color: white;
}

#myModal1 .modal-footer img,
#myModal2 .modal-footer img,
#myModal3 .modal-footer img {
    width: 30%;
    float: left;
}

#myModal1 .modal-footer .submt-btn {
    /*background-color: #003946;*/
}

#myModal1 .modal-body>label:nth-child(1) {
    font-size: 13px;
}

#myModal1 .modal-body>label:nth-child(2),
#myModal1 .modal-body>label:nth-child(4),
#myModal1 .modal-body>label:nth-child(8) {
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
}

#myModal1 .modal-body>input {
    display: block;
    width: 100%;
}

.radio-div {
    margin-top: 8px;
}

.radio-div label {
    margin-right: 20px;
}

@media (max-width: 767px) {
    #myModal1 .modal-footer button,
    #myModal2 .modal-footer button,
    ,
    #myModal3 .modal-footer button {
        font-weight: bold;
        height: 28px;
        margin-top: 6px;
        padding: 0 7px;
    }
    #myModal1 .modal-footer img,
    #myModal2 .modal-footer img,
    #myModal3 .modal-footer img {
        width: 50%;
    }
    .modal-footer {
        padding: 5px 5px;
    }
    .radio-div label {
        margin-left: 0px !important;
        display: block;
    }
}

@media (max-width: 425px) and (min-width:375px) {
    #myModal1 .modal-footer button,
    #myModal2 .modal-footer button,
    #myModal3 .modal-footer button {
        font-weight: bold;
        height: 28px;
        margin-top: 14px;
        padding: 0 7px;
    }
    #myModal1 .modal-footer img,
    #myModal2 .modal-footer img,
    #myModal3 .modal-footer img {
        width: 50%;
    }
    .modal-footer {
        padding: 5px 5px;
    }
    .radio-div label {
        margin-left: 0px !important;
        display: block;
    }
}

body,
html {
    height: 100%;
}

.bodywrapper {
    overflow: auto;
    height: 100%;
}


/* unset bs3 setting */

.modal-open {
    overflow: auto;
}


/* extra stetting for fixed navbar, see bs3 doc
*/

body {
    /*padding-top: 50px;*/
    padding-bottom: 50px;
}


/*.highcharts-container{width:100% !important; height:100% !important;}*/

.save-print-row a:hover {
    cursor: pointer;
}

@media print {
    .container {
        width: auto;
        display: block !important;
    }
}

.image-holder img {
    float: left;
    width: 30%;
}

.image-holder button {
    margin-top: 5px;
    background-color: #003946;
    color: white;
}

.image-holder button:hover {
    background-color: #003946;
    color: white;
}

#bar-chart[disabled],
#area-chart[disabled],
#area-chart1[disabled],
#area-chart2[disabled] {
    color: #424242;
    background: linear-gradient(0deg, #a2dd3b 0%, #a2dd3b 100%)!important;
}

#bar-chart,
#area-chart1 {}

.value-container {
    margin-right: 0px;
}

.assumptions-div label {
    color: #4a7295;
    font-size: 20px!important;
    font-weight: bold;
    padding-top: 10px;
    float: left;
    font-family: AgendaMedium;
}

.assumptions-div label:hover {
    text-decoration: underline;
}

#myModal2 li,
#myModal3 li {
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}

#myModal2 ul,
#myModal3 ul {
    padding-left: 0;
}

.res-2,
.res-1 {
    background-color: #c8e0ac;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.res-head {
    color: #003946;
    padding: 7px 10px;
    font-size: 18px;
    padding-bottom: 0;
}

.res-1 {
    padding-bottom: 10px;
}

.res-1 .divider,
.res-2 .divider {
    padding-top: 5px;
}

.res-value,
.value2 {
    font-weight: bold;
    color: #003946;
    text-align: right;
    font-size: 16px;
}

.main-divider {
    border-bottom: #003946 solid 1px;
    margin: 0;
    margin-bottom: 10px;
}

#chartBox {
    padding-left: 0;
}

.chart-button-parent {
    padding-left: 1%;
    padding-right: 1%;
}

.res-subHead-value {
    font-size: 20px;
    font-weight: bold;
    color: #003946;
    text-align: right;
}

.res-subHead {
    font-weight: bold;
    font-size: 17px;
}

.m-single {
    margin-top: 8px;
}

.scenerioText {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.wpText {
    padding-top: 10px;
    color: #003946;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.col-text {
    line-height: 22px;
}

.res-des {
    line-height: 16px;
}
