@media (min-width: 1281px) {
    .container {
        width: 1064px;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .container {
        width: 100% !important;
    }
}

.title-bar {
    padding: 15px;
    font-weight: 200;
    font-size: 38px;
    line-height: 120%;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.page-heading img {
    display: inline-block;
    width: 195px;
    margin-top: 4px;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.vertical-align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.banner-text {
    background-color: white;
    padding: 0 30px;
    width: 50%;
    text-align: left;
}

.banner-wrapper {
    background-color: #f2f5f6;
}

@media only screen and (max-width: 767px) {
    .head-banner {
        display: block;
        background-color: #f2f5f6;
    }
    .header-banner {
        display: none;
    }
    .text {
        width: 100%;
    }
}

.print-button,
.save-button {
    display: inline-block;
    float: right;
    padding: 10px 5px;
}

.save,
.print {
    font-size: 22px;
    color: #003946;
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}

.result-summary {
    background-color: #003946;
    color: white;
    padding: 20px 0px;
    font-size: 22px;
}

.result-summary .col1 {
    padding-top: 70px;
}

.result-summary .col1-d1 {
    background: url(../images/results-ribbon.png) top center no-repeat;
    background-size: contain;
    width: 237px;
    height: 74px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #003946;
    margin: 0 auto;
}

.result-summary .col1-d2 {
    text-align: center;
    font-size: 27px;
    padding: 0 20px;
}

.result-summary .col2-d1 {
    color: #a2dd3b;
}

.result-summary .col2-d1,
.result-summary .col2-d2,
.result-summary .col2-d3 {
    font-size: 35px;
    font-weight: bold;
}

.result-summary .col3 {
    line-height: 25px;
}

.result-summary .col3-d2 {
    margin-top: 10px;
}

.result-summary .col3-d2 strong {
    color: #a2dd3b;
}

@media only screen and (max-width: 991px) {
    .result-summary .col3 {
        line-height: 20px !important;
        padding-top: 25px;
    }
}

@media only screen and (min-width: 991px) {
    .result-summary .col3 {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .result-summary .col1 {
        padding-top: 20px;
    }
    .result-summary .col2 {
        text-align: center;
    }
    .result-summary .col3 {
        line-height: 25px !important;
    }
}

.line-divider {
    border-top: 1px solid white;
    padding-bottom: 10px;
}

.fa-exclamation-circle {
    margin-right: 5px;
}

.result-details {
    background-color: #dbebc9;
}

.chart-buttons-row button {
    background-color: #91B6BE !important;
    /*color: #fff;*/
    border-radius: 0 !important;
    outline: none;
    /*border:1px solid #ddd;*/
}

.chart-buttons-row button:hover,
.chart-buttons-row button:active,
.chart-buttons-row button:focus,
.chart-buttons-row button:visited {
    /*color: #fff;!important;*/
    /*background-color: #91B6BE !important;*/
    /*border:1px solid #ddd !important;*/
    /*color: #424242 !important;
    outline: none !important;*/
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    /*background-color: #91B6BE !important;*/
    border: none !important;
    outline: none !important;
    border-radius: 0px;
}

.largeWidth {
    margin-top: 25px !important;
}

@media(max-width:330px) {
    #container,
    #donutContainer {
        margin-left: -20px !important;
    }
}

.start-over {
    font-size: 24px;
    color: #4a7295;
    font-weight: 700;
}

.start-over:hover {
    color: #4a7295;
}

.form-1,
.form-2,
.form-3,
.form-4,
.form-5,
.form-6 {
    -webkit-transition: max-height 0.9s ease-in;
    -o-transition: max-height 0.9s ease-in;
    -moz-transition: max-height 0.9s ease-in;
    transition: max-height 0.9s ease-in;
    max-height: 800px;
    overflow: hidden;
}

.menuDrop {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
}

.value-container .row {
    background-color: #c8e0ac;
}

.value-container > col-xs-12 >.row:nth-child(3) {
    margin-top: 15px;
}

.result-table {
    width: 100%;
    padding-bottom: 10px;
}

.result-table>div:nth-child(1) {
    width: 100%;
    padding-right: 10%
}

.result-table>div:nth-child(2) {
    width: 40%;
    padding-right: 10%
}

.value-container input {
    text-align: right;
    font-weight: bold;
    color: #003946;
}

.img-btn {
    /*background: url("../images/chevron-up.png") no-repeat;*/
    width: 18px;
    height: 11px;
}

.img-btn-div {
    height: 22px;
}

.title-wrapper {
    /*margin-left: -8%;*/
}

.title-div {
    transition: background-color 0.4s ease;
    color: #003946;
    font-size: 20px;
    font-weight: 600;
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-top: 20px;*/
}

.result-labels {
    font-size: 18px;
    padding-top: 15px;
}

.title-div:hover {
    cursor: pointer;
}

.title-div-nohover {
    background-color: #eaab00;
    cursor: pointer;
}

.sub-para {
    font-size: 20px;
    line-height: 25px;
}

.slider-div,
.slider-div-new {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #b3c4c8;
    width: 225px;
}

.result-content .slider-div,
.slider-div-new {
    width: inherit;
}

.assets-details .form-group>div:nth-child(3),
.liability-details .form-group>div:nth-child(3),
.otherExpense-details .form-group>div:nth-child(3),
.existingCover-details .form-group>div:nth-child(3),
.assumptions-details .form-group>div:nth-child(3) {
    padding-left: 30px;
}

.assets-details .form-group>div:nth-child(2),
.liability-details .form-group>div:nth-child(2),
.otherExpense-details .form-group>div:nth-child(2),
.existingCover-details .form-group>div:nth-child(2),
.assumptions-details .form-group>div:nth-child(2) {
    padding-left: 30px;
}

.noUi-horizontal .noUi-handle {
    top: -8px !important;
}

.noUi-horizontal {
    height: 6px !important;
}

.tell-us>div:nth-child(2)>h2,
.tell-us>div:nth-child(1) p,
.assets-details>div:nth-child(2)>h2,
.assets-details>div:nth-child(1) p,
.liability-details>div:nth-child(2)>h2,
.liability-details>div:nth-child(1) p,
.otherExpense-details>div:nth-child(2)>h2,
.otherExpense-details>div:nth-child(1) p,
.existingCover-details>div:nth-child(2)>h2,
.existingCover-details>div:nth-child(1) p,
.assumptions-details>div:nth-child(2)>h2,
.assumptions-details>div:nth-child(1) p,
.result-details>div>div:nth-child(1)>div:nth-child(2)>h2,
.result-details>div>div:nth-child(1)>div:nth-child(1) p,
.general-details-results>div:nth-child(2)>h2,
.general-details-results>div:nth-child(1) p,
.general-details>div:nth-child(2)>h2,
.general-details>div:nth-child(1) p {
    font-size: 20px;
    line-height: 24px;
    color: #424242;
    text-transform: uppercase;
    font-family: AgendaMedium;
    font-weight: 700;
}

.intrnl-head {
    font-weight: 700;
    font-size: 18px;
    color: #003946;
    font-family: AgendaMedium;
}

@media(max-width:615px) {
    .assets-details .form-group>div:nth-child(3),
    .liability-details .form-group>div:nth-child(3),
    .otherExpense-details .form-group>div:nth-child(3),
    .existingCover-details .form-group>div:nth-child(3),
    .assumptions-details .form-group>div:nth-child(3) {
        padding-left: 30px;
        /*padding-right: 148px;*/
    }
}

.noUi-base, .noUi-handle{
        background-color: white;
}
/*@media(min-width:793px) {
    .err-div {
        margin-left: 0;
    }
}*/

@media(max-width:792px) {
    .err-div {
        margin-left: 50% !important;
    }
}

@media (max-width: 792px) and (min-width: 620px) {
    .err-div {
        margin-left: 50% !important;
    }
}

.print-container .button-preview {
    background-color: #fff;
    height: 50pt;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    border-bottom: none;
}

.print-container .print-preview {
    background: #f1f1f1;
    margin: 0;
    padding: 79px 30px 30px;
}

.print-container .page-1,
.print-container .page-2,
.print-container .page-3 {
    margin-top: 20px !important;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 auto;
    width: 612pt;
    height: 748pt;
    background-color: #fff;
}

.print-container .button-row {
    max-width: 612pt;
    margin: 0px auto;
    position: relative;
}

.print-container .button-row button {
    padding: 6pt 25pt;
    background-color: #003946;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.print-container .button-row button:hover {
    background-color: #4a7295;
}

.feedback-menu {
    border: 2px solid #ffffff;
    color: white;
    width: 150px;
    font-weight: 700;
    padding: 0;
    height: 36px;
    font-size: 18px;
    float: right;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    background: #565656;
}

.print-container .button-preview {
    background-color: #fff;
    height: 50pt;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    border-bottom: none;
    background: #565656;
    display: none;
}

.print-container .print-preview {
    background: #f1f1f1;
    margin: 0;
    padding: 0px 30px 30px;
}

.print-container .page-1,
.print-container .page-2,
.print-container .page-3 {
    margin-top: 20px !important;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 auto;
    width: 595pt;
    height: 842pt;
    background-color: #fff;
    padding: 30pt;
}

.print-container .button-row {
    max-width: 612pt;
    margin: 0px auto;
    position: relative;
}

.print-container .button-row button {
    padding: 6pt 25pt;
    background-color: #93C023;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.print-container .button-row button:hover {
    background-color: #4a7295;
}

.print-container .button-row img {
    margin-right: 40%;
}

@media(max-width:792px) {
    .print-container .button-row img {
        margin-right: 20%;
    }
}


/*********page-1**********/

.print-container .page-head {
    border-bottom: 1pt solid #eaab00;
    padding-bottom: 5pt;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    line-height: 1em;
    background-color: #e5e0e0;
}

.print-container .page-head img {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.print-container .page-head h2 {
    font-size: 16pt;
    line-height: 18pt;
    display: inline-block;
    padding-top: 9pt;
    padding-bottom: 9pt;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.print-container .page-head div {
    font-size: 10pt;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0pt;
    top: 14pt;
}

.print-container .page-content .content-row {
    margin-top: 20pt;
    width: 100%;
}

.print-container .page-content .content-row .content-section {
    position: relative;
    padding-top: 0pt;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
}

.print-container .page-content .content-row .content-section h3 {
    font-size: 11pt;
    font-weight: 200;
    padding-bottom: 1pt;
    border-bottom: 1px solid #d1d3d4;
    margin-bottom: 5pt;
    margin-top: 0pt;
    text-transform: uppercase;
    color: #424242;
}

.print-container .page-content .content-row .content-section h3 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 5pt;
}

.print-width-100 {
    width: 100%;
}

.print-width-48 {
    width: 48%;
}

.print-width-4 {
    width: 4%;
}

.margin-top-10 {
    margin-top: 10pt;
}

.print-container .goal-perc {
    font-size: 25pt;
    color: #003946;
    font-weight: 700;
    text-align: center;
}

.print-container .goal-percLine {
    text-transform: uppercase;
    text-align: center;
}

.print-container .goal-desc-almost,
.print-container .goal-desc-shortfall,
.print-container .goal-desc-surplus {
    text-align: center;
}

.print-container .goal-lines {
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5pt;
}

.print-container .goal-values {
    font-size: 20pt;
    color: #424242;
}

.print-container .goal-m-values {
    color: #003946;
    font-size: 25pt;
}

.print-container .yellow-line {
    border-bottom: 1pt solid #93C023;
}

.print-container .calc-summary {
    background-color: #e0f9a2;
}

#containerImage,
#containerImageA,
#containerImageB {
    width: 350pt;
    height: 250pt;
    margin: 60pt;
    margin-bottom: 0pt;
}

.print-container ol {
    padding-left: 11pt;
}

.print-container li {
    padding-left: 10pt;
    padding-bottom: 5pt;
    font-size: 11pt;
}

.print-container .tell-lines,
.print-container .account-lines,
.print-container .accountSpouse-lines,
.print-container .otherAssets-lines {
    font-size: 11pt;
}

.print-container .tell-lines strong,
.print-container .account-lines strong,
.print-container .accountSpouse-lines strong,
.print-container .otherAssets-lines strong {
    font-size: 13pt;
}

@media print {
    .print-container .page-2 .page-head,
    .print-container .page-3 .page-head {
        margin-top: 30pt;
        background-color: #e5e0e0 !important;
        -webkit-print-color-adjust: exact;
    }
    .print-container .calc-summary {
        background-color: #e0f9a2 !important;
        -webkit-print-color-adjust: exact;
    }
    #grey1 {
        display: block;
    }
    .print-container .page-1 .page-head {
        background-color: #e5e0e0 !important;
        -webkit-print-color-adjust: exact;
    }
    .print-container .tell-lines strong,
    .print-container .account-lines strong,
    .print-container .accountSpouse-lines strong,
    .print-container .otherAssets-lines strong {
        font-weight: 500!important;
        font-size: 14pt!important;
    }
    .print-container .goal-perc strong,
    .print-container .goal-desc-shortfall strong,
    .print-container .goal-desc-almost strong,
    .print-container .goal-desc-surplus strong,
    .print-container .goal-lines strong,
    .print-container .goal-lines,
    .print-container .goal-goal-m-values strong,
    .print-container .goal-goal-values strong {
        font-weight: 500!important;
    }
}
